{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>New User</h1>

<form method="POST">
  {{ form.hidden_tag() }}

  <div>
    {{ form.name.label }} {{ form.name(size=40) }}
  </div>

  <div>
    {{ form.username.label }} {{ form.username(size=40) }}
  </div>

  <div>
    {{ form.password.label }} {{ form.password(size=40) }}
  </div>

  <div>
    {{ form.confirm.label }} {{ form.confirm(size=40) }}
  </div>

  <input type="submit" value="Register" />
</form>
{% endblock %}
